<a href="https://colab.research.google.com/github/FREYDER18/SYS/blob/main/ESTUDIIO_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#guardar informacion
nombre = "freyder"
print("hola", nombre) # funcion print imrime el resultado

hola freyder

In [ ]:
#sumar numeros
a = 2
b = 4
c = 10
suma = a + b + c
print("la suma total es;", suma)

la suma total es; 16

In [ ]:
#leer algo que escriba el usuario
nombre = input("cual es tu nombre;")
print("hola", nombre)

cual es tu nombre;freyder
hola freyder

- USO DE CONDICIONALES

In [ ]:
a = input("cual es tu edad?")
a = int(a)
edad = a
if edad >= 18:
  print("eres mayor de edad")
else:
  print("eres menor de edad")

cual es tu edad?45
eres mayor de edad

In [ ]:
print("no mayor a 10")
nota = int(input("cual es tu nota"))
if nota == 10:
  print("exelente")
elif nota >= 6:
    print("aprobado")
else:
      print("reprobado")

no mayor a 10
cual es tu nota7
aprobado

In [ ]:
numero = int(input("ingrese el numero")) # int declara una variable un numero entero

if numero > 0: # condicional if "si"

  print("el nuemro es positivo")
elif numero < 0: # condicional elif "si no"pero otra condicion
  print("numemro es negativo")
else: # condicional else "si no"
  print("el numero es cero")

ingrese el numero0
el numero es cero

In [ ]:
usuario = input("escribe tu nombre")
if usuario == "freyder": # == igual a
  print("hola, bienebenido")
else:
  print("hola,", usuario, "bienvenido")

escribe tu nombrefreyder
hola, bienebenido

- ciclos - while - for

In [ ]:
# ciclo while "se repite mientras algo sea verdadero"
i = 1
while i <= 10:
  print(i)
  i += 1 # suam i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# ciclo for "correr unas lista de datos"
numero = int(input("ingrese el numeo"))
for i in range(0, 11):
  print(numero, "x", i, "=", numero*i)

ingrese el numeo1
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10



- crear listas

coleccion de datos ordenados, guarda muchos valores (numeros, textos, etc) en una sola variable.

In [ ]:
frutas = ["manzana", "banana", "naranja", "pera"] #[] encierra las listas

print(frutas)
print(len(frutas))

['manzana', 'banana', 'naranja', 'pera']
4

In [ ]:
from os import remove # impitrtando funciones

comidas = ["carne", "pollo", "atun", "fideos"] # [] encierra las listas

nueva = input("ingrese las nuevas comidas:") # input es una funcion que se sa para que el usuario digite informacion

Lnueva = nueva.split(",") # .split divide una lista con una ,

comidas.extend(Lnueva)

print("lista nuevos agregados", comidas)

nover = input("ingrese comidas a eliminar de caso dar enter")

Rnueva= nover.split(",")
# para eliminar las comidas aplicamos in ciclo

for comida in Rnueva:
  comida = comida.strip()
if comida in comidas:
    comidas.remove(comida)
else:
  print(f"La comida {comida} no esta en la lista")
print("lista actualizada", comidas)

print(len(comidas))

ingrese las nuevas comidas:fresa, pera, pizza
lista nuevos agregados ['carne', 'pollo', 'atun', 'fideos', 'fresa', ' pera', ' pizza']
ingrese comidas a eliminar de caso dar entercarne
lista actualizada ['pollo', 'atun', 'fideos', 'fresa', ' pera', ' pizza']
6

In [ ]:
lista = ["pan", "leche", "arroz", "huevos"]

nuevosP =  input("ingresa nuevos productos")

RnuevosP = nuevosP.split(",")
lista.extend(RnuevosP)

print("liata actualizada", lista)

ingresa nuevos productosPERA
liata actualizada ['pan', 'leche', 'arroz', 'huevos', 'PILAS', ' MANGO', ' MERO']

- **TUPALS**
ES COMO UNA LISTA PERO CON UNA DIFERENCIA
-- NO SE PUEDE MODIFICAR DESPUES DE SER CREADA


se puede guardar cualquier tipo de datos

In [ ]:
# COMO SE CREA UNA TUPLA
tupla= ("manzana", "pera", "naranja") # se la define mediante ()
print(tupla)

('manzana', 'pera', 'naranja')

In [ ]:
colores = ("rojo", "azul", "verde","naranja", "negro")
print(colores[4])

print(len(colores)) #  la funcion len() la cantidad de elementos que se encuentran

negro
5

- QUE COSAS SE PUEDEN HACER Y NO  EN UNA TUPLA

- ACCEDER A ELEMENTOS [ i ]

- RECORRER CON EL CICLO FOR

- SABER CUANTOS ELEMENTOS TIENEN

- NO SE PUEDEN AGRGAR O QUITAR ELEMENTOS

- NO SE PUEDE MODIFICAR

CUANDO USAR UNA TUPLA

   -  Los datos no deben cambiar (como los días de la semana)

   - Quieres proteger la información

   - Necesitas que ocupen menos memoria que una lista

In [ ]:
frutas = ("manzana", "pera", "uva")
print(frutas)
print("Primera fruta:", frutas[0])

('manzana', 'pera', 'uva')
Primera fruta: manzana

In [ ]:
numeros = (10, 20, 30, 40, 50, 70, 80)
print("Numeros:", numeros)
print("Cantidad de elementos:", len(numeros))

Numeros: (10, 20, 30, 40, 50, 70, 80)
Cantidad de elementos: 7

In [ ]:
persona = ("Carlos", 30, 1.75, True)
print("Nombre:", persona[0])
print("¿Es mayor de edad?", persona[3])

Nombre: Carlos
¿Es mayor de edad? True

**TUPLA DENTRO DE UNA LISTA**

In [ ]:
personas = [("Ana", 25), ("Luis", 30), ("Marta", 22), ("Andrea", 19)]
for nombre, edad in personas:
    print(nombre, "tiene", edad, "años")

Ana tiene 25 años
Luis tiene 30 años
Marta tiene 22 años
Andrea tiene 19 años

In [ ]:
dias = ("lunes", "martes", "miércoles", "jueves", "viernes", "sábado", "domingo")

print("Día 1:", dias[0])
print("Total de días:", len(dias))

Día 1: lunes
Total de días: 7

In [ ]:
vacia = ()
print("Tupla vacía:", vacia)
print("Elementos:", len(vacia))  # Resultado: 0

Tupla vacía: ()
Elementos: 0

In [ ]:
longitud = input("ingrese latitud:")
latitud = input("ingrese longitud:")
longitud = float(longitud)
latitud = float(latitud)

ubicacion = (longitud, "° N")
ubicacacion2 = (latitud, "° E")
print("ubicacion:", ubicacion, ubicacacion2)

ingrese latitud:-34.43434
ingrese longitud:45.4444
ubicacion: (-34.43434, '° N') (45.4444, '° E')

**DICCIONARIOS**

ES UNA ESTRUCTURA QUE GUARDA PARES DE DATOS

- UNA CLABE
- UN VALOR
SU ESTRURA ES ENTRE {  } Y CADA VALOR SE ACCEDE CON SU CLAVE

In [ ]:
persona = {
 "nombre": "Lucía",
    "edad": 28,
    "ciudad": "Lima"
}
"""
"nombre" es la clave → "Lucía" es el valor
"edad" → 28
"ciudad" → "Lima"
"""

'\n"nombre" es la clave → "Lucía" es el valor\n"edad" → 28\n"ciudad" → "Lima"\n'

CUANDO USSAR DICCIONARIO

- Para representar cosas con nombre y valor (como datos de una persona, producto, ubicación)

- Cuando necesitas acceder rápido a información por una clave (como una agenda de contactos)

In [ ]:
# DATOS DE UNA PERSONA

persona = {
    "nombre": "karol",
    "edad": 24,
    "ciudad": "medellin"
}
print("datos actuales")
for clave, valor in persona.items():
   print(clave, ":", valor)

clavemodificar = input("\n¿dato que deseas modificar? (nombr, edad, ciudad):")


# Verificamos si la clave existe

if clavemodificar in persona:
  nnuevo = input("ingresa nuevo valor para" + clavemodificar + ":")

  # Si es edad, la convertimos a número

  if clavemodificar == "edad":
      persona[clavemodificar] = int(nnuevo)
  else:
      persona[clavemodificar] = nnuevo

      print("\ndatos actualizados:")
  for clave, valor in persona.items():
        print(clave, ":", valor)

else:
 print("clave no encontrada")

datos actuales
nombre : karol
edad : 24
ciudad : medellin

¿dato que deseas modificar? (nombr, edad, ciudad):edad
ingresa nuevo valor paraedad:22
nombre : karol
edad : 22
ciudad : medellin

**SETS**

- Un set es una colección no ordenada de elementos únicos.

- No puede tener elementos repetidos.

- No usa índices (no puedes acceder por posición).

- Es útil cuando quieres almacenar elementos sin duplicados y sin importar el orden.

In [ ]:
set_mi = {1, 2, 3, 4, 4, 5, 1}
print(set_mi)

{1, 2, 3, 4, 5}

In [ ]:
numeros = {4, 5, 56, 1, 2, -1, 45, 56}
print(numeros)
print(len(numeros))

{1, 2, 4, 5, 56, 45, -1}
7

In [ ]:
registrados = {"Ana", "Luis", "Carlos", "Marta"}
entregaron = {"Luis", "Marta", "Elena"}

faltantes = registrados.difference(entregaron) # la funcion difference() ve elementos que están en un set pero no en otro.
Nentregaron = entregaron.difference(registrados)

print("No entregaron:", faltantes)  # {'Ana', 'Carlos'}

print("Entregaron:", Nentregaron)

No entregaron: {'Carlos', 'Ana'}
Entregaron: {'Elena'}

In [1]:
class Coche:
    def __init__(self, marca):
        self.marca = marca

    def mostrar_marca(self):
        print(f"Este coche es de la marca {self.marca}")

In [3]:
class Persona:
    def saludar(self):
        print("Hola")

In [7]:
lista = [1,2,3,4,5]
reves = lista[::-1]
print(reves)
for i in lista[::-1]:
    print(i)

[5, 4, 3, 2, 1]
5
4
3
2
1